name: Update GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"  # Executa diariamente
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      # Checkout do reposit칩rio
      - name: Checkout
        uses: actions/checkout@v3

      # Gerar GitHub Stats com reposit칩rios privados
      - name: Generate Stats
        run: |
          curl -o stats.svg "https://github-readme-stats.vercel.app/api?username=${{ github.repository_owner }}&count_private=true&include_all_commits=true&theme=dracula"

      # Gerar Linguagens Mais Usadas
      - name: Generate Most Used Languages
        run: |
          curl -o languages.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=${{ github.repository_owner }}&layout=compact&langs_count=8&theme=dracula"

      # Commit e Push dos arquivos gerados
      - name: Commit and Push Changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add stats.svg languages.svg
          git commit -m "Atualizando gr치ficos com reposit칩rios privados"
          git push "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository_owner }}/${{ github.repository_owner }}.git"
